body{
    font-family: 'Outfit', sans-serif;
}
.mission{
    color: rgb(221, 101, 3)
}
.stay{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    width: 80%;
    border-left: 5px solid;
    border-color: salmon;
    border-radius: 5px;
    border-image-slice: 5;
}
.pad{
    padding: 20px;
    
}
.button{
    text-decoration: none;
    background-image: linear-gradient(salmon, tomato);
    color: white;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.image{
    display: flex;
}
.width{
    width: 50%;
    padding-left: 200px;
    padding-top: 20px;
}
.width img{
    width: 75%;
}
.my{
    font-size: 40px;
    padding-top: 50px;
    text-align: center;
    font-family: 'Outfit', sans-serif;
}
.illutrates{
    display: flex;
    width: 75%;
    padding-top: 20px;
    padding-left: 200px;
}
.illutrates img{
    width: 40%;
    padding-left: 20px;
    

}
.missionis{
    background: rgb(247, 205, 255);
    border-radius: 10px;
}
.vissionis{
    background: rgb(200, 222, 250);
    border-radius: 10px;
}
.goals{
    background: rgb(190, 240, 185);
    border-radius: 10px;
}
.open{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 25px;
}
.images{
    display: flex;
    width: 100%;
    padding-left: 200px;
    padding-top: 100px; 
    
}
.images img{
    width: 25%;
    border-radius: 20px;
}

.developer h1{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.developer{
    padding-left: 50px;
    width: 48%;
}
.foot{
    background-color: rgba(0, 0, 0, 0.87);
    text-align: center;
    border-radius: 5px;
}
.bb{
    padding-bottom: 50px;
}
.footi{
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
#missions{
    font-family: 'Courier New', Courier, monospace;
}
.foot p{
    font-weight: 20px;
}